@page "/teacher"
@using BlazorApp.Model.Entities

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<h3>Danh Sách Giáo Viên</h3>

@if (TeacherModels == null)
{
    <p>Loading ...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên Giáo Viên</th>
                <th>Giới Tính</th>
                <th>Học Vấn</th>
                <th>Ngày Sinh</th>
                <th>Địa Chỉ</th>
                <th>Email</th>
                <th>Trạng Thái</th>
                <th>Số Điện Thoại</th>
                <th>Chuyên Môn</th>
                <th>Số CCCD</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in TeacherModels)
            {
                <tr>
                    <td>@teacher.TeacherName</td>
                    <td>@teacher.TPhoneNumber</td>
                    <td>@teacher.TEmail</td>
                    <td>@teacher.TIdentityNumber</td>
                    <td>@teacher.TAddress</td>
                    <td>@teacher.Specialization</td>
                    
                    <td>@teacher.StatusTeacher</td>
                    <td>@teacher.DateOfBirth</td>
                    <td>
                        <select class="form-control" @bind="teacher.Gender">
                            <option value="Male" @selected="teacher.Gender == 'Male'">Nam</option>
                            <option value="Female" @selected="teacher.Gender == 'Female'">Nữ</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" @bind="teacher.Education">
                            <option value="Male" @selected="teacher.Education == 'Master'">Thạc Sỹ</option>
                            <option value="Female" @selected="teacher.Education == 'Bachelor'">Cử Nhân</option>
                        </select>
                    </td>

                    <td>
                        <a class="btn btn-secondary" href="/updateinfo/">Cập Nhật</a>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <button class="btn btn-danger" @onclick="()=> { DeleteID = teacher.ID; Modal.Open();}">Xóa</button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Chú Ý</Title>
        <Body>
            Bạn Thật sự muốn xóa giáo viên này
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Trở Lại</button>
        </Footer>
    </AppModal>
}