@page "/teacher"
@using BlazorApp.Model.Entities

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<h3>Danh Sách Giáo Viên</h3>

@if (TeacherModels == null)
{
    <p>Loading ...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên Giáo Viên</th>
                <th>Giới Tính</th>
                <th>Học Vấn</th>
                <th>Ngày Sinh</th>
                <th>Địa Chỉ</th>
                <th>Email</th>
                <th>Trạng Thái</th>
                <th>Số Điện Thoại</th>
                <th>Chuyên Môn</th>
                <th>Số CCCD</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in TeacherModels)
            {
                <tr>
                    <td>@teacher.TeacherName</td>
                    <td>
                        @(teacher.Gender switch
                        {
                            Gender.Male => "Nam",
                            Gender.Female => "nữ",
                            _ => "Không xác định"
                        })
					</td>
					<td>
						@(teacher.Education switch
						{
							Education.Master => "Thạc sỹ",
							Education.Bachelor => "Cử Nhân",
							_ => "Khác"
						})
					</td>
					<td>@teacher.DateOfBirth</td>
					<td>@teacher.TAddress</td>
                    <td>@teacher.TEmail</td>
                    <td>@teacher.StatusTeacher</td>
                    <td>@teacher.TPhoneNumber</td>                    
                    <td>@teacher.Specialization</td>
					<td>@teacher.TIdentityNumber</td>
                    
                    
                    

                    <td>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <a class="btn btn-secondary" href="/UpdateTeacher/">Cập Nhật</a>
                                <button class="btn btn-danger" @onclick="()=> { DeleteID = teacher.ID; Modal.Open();}">Xóa</button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Chú Ý</Title>
        <Body>
            Bạn Thật sự muốn xóa giáo viên này
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Trở Lại</button>
        </Footer>
    </AppModal>
}