@page "/student"
@using BlazorApp.Model.Entities

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<h3>Dánh sách học sinh</h3>

@if (StudentsModel == null)
{
    <p>Loading ...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Họ Và Tên</th>
                <th>Ngày Sinh</th>
                <th>Liên Lạc</th>
                <th>Địa Chỉ</th>
                <th>Căn Cước</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var students in StudentsModel)
            {
                <tr>
                    <td>@students.StudentName</td>
                    <td>@students.DateOfBirth</td>
                    <td>@students.PhoneNumber</td>
                    <td>@students.Address</td>
                    <td>@students.IdentityNumber</td>
                    <td>
                        <a class="btn btn-secondary" href="/updatestudent/@students.ID">Cập Nhật</a>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <button class="btn btn-danger" @onclick="()=> { DeleteID = students.ID; Modal.Open();}">Xóa</button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Chú ý</Title>
        <Body>
            Bạn thật sự muốn xóa học sinh này?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Cancel</button>
        </Footer>
    </AppModal>
}